################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MovingAPI/v16/Server/sqlite3
/.vs/MovingAPI/v16/.suo
/.vs/MovingAPI/v16
/obj
/.vs/MovingAPI/DesignTimeBuild
/.vs/MovingAPI/config/applicationhost.config
/bin/Debug/netcoreapp3.1
